<mat-drawer-container class="container">
    <mat-drawer mode="side" opened class="nav">
        <mat-nav-list class="nav-list ">
            <a mat-list-item routerLink="">Início </a>
            <a mat-list-item routerLink="/products">Produtos</a>
            <a mat-list-item>Usuários</a>
            <a mat-list-item>Sair</a>
        </mat-nav-list>
    </mat-drawer>


    <mat-drawer-content class="content">
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>